@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Monoton&family=Orbitron&family=Raleway:wght@200&family=Sevillana&family=Unbounded:wght@300&display=swap');

.App {
  text-align: center;
}

.pokemon-name {
  background-color: rgb(255, 225, 225);
  height: 70px;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-transform: uppercase;
  font-family: 'Unbounded', cursive;




}

.type-0 {
  background-color: rgb(234, 123, 123);
  width: 50%;
  height: 3rem;
}

.type-1 {
  background-color: rgb(111, 225, 128);
  width: 50%;
}